{# home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Cabinet Médical{% endblock %}

{% block content %}
    <h1>Bienvenue sur le portail du Cabinet Médical</h1>
    <p>Gérez vos rendez-vous en toute simplicité.</p>
{% endblock %}


